@font-face {
    font-family: 'Bariar';
    src: url('/fonts/BriarDisplay.eot');
    src: url(/fonts/BriarDisplay.otf);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
  }

.container {
    width: 1300px;
    margin: 0 auto;
    /* border: 2px solid #4e0158; */
}

a {
    text-decoration: none;
  }

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}
.header {
    background: #DA98A2;
}

.nav {
    display: flex;
    padding: 9px 80px 10px 75px;
    justify-content: space-between;
}

.logo {
    margin-right: 44px;
}

.left_part, .menu, .right_part, .lang, .details {
    display: flex;
}

.menu, .right_part{
    padding-top: 32px;
}

a {
    text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu li {
    margin-right: 49px;
    font-family: Alumni Sans;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

header a {
    color: #ffffff;
    text-transform: uppercase;
}

.rectangle{
    margin-top: -41px;
    background: #94C3B1;
    width: 47px;
    height: 100px;
}
.lang li {
    font-family: Alumni Sans;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.eng{
    position: absolute;
    padding-left: 4px;
}

.line {
    margin-top: 16px;
    width: 24px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);   
}


.icons img{
    margin-left: 50px;
    padding-top: 6px;
    width: 24px;
    height: 24px;
}

/* _______________________________ */

.about_section_1{
    background: url(../images/about/bg_about_s1.jpg) no-repeat center top / cover;
    padding-bottom: 100px;
    padding-top: 51px;
}
.support, .title_location, .title_social{
    margin-left: -70px;
}
.rec_support{
    height: 40px;
    width: 253px;
    background: #94C3B1;
    position: absolute;
}
.support_title{
    display: flex;
    z-index: 2;
    position: relative;
    letter-spacing: 0.05em;
    font-weight: 700;
}
.support_title h1{
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    margin-left: 30px;
    color: #94C3B1;
}
.support p{
    font-family: 'Alumni Sans';
    font-size: 18px;
    line-height: 22px;
    margin-left: 48px;
    margin-top: 10px;    
    color: #FFFFFF;
}
.ph_about_us{
    display: flex;
    margin-top: 66px;
    justify-content: space-between;
}
.bg_vector_2{
    position: absolute;
    z-index: 2;
    margin-top: 280px;
    margin-left: -70px;
}
.signboard{
    position: relative;
    z-index: 1;
}
.about_us_right_part{
    width: 530px;
}
.rec_about_us{
    position: absolute;
    width: 430px;
    height: 40px;
    background: #8781BD;
    margin-left: 170px;
}
.about_us_right_part img{
    position: absolute;
    margin-top: -50px;
    margin-left: 513px;
}
.title_about_us h1{
    position: relative;
    z-index: 2;
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #fff;
}
.about_us_right_part p{
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    margin-top: 45px;
}
/* _________ */

.location_contacts{
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}
.rec_location{
    position: absolute;
    width: 440px;
    height: 40px;
    background: #DA98A2;
}
.title_location h1{
    margin-left: 304px;
    color: #DA98A2;
    font-family: 'Briar';
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.085em;
    line-height: 38px;
    margin-top: 5px;
    z-index: 2;
    position: relative;
}
.location p{
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    width: 257px;
}
.btn_map a{
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.11em;
    background: #94C3B1;
    padding: 18px 28px;
    color: #fff; 
}
.btn_map{
    margin-left: 95px;
    margin-top: 90px;
}
.p_btn_map{
    display: flex; 
    margin-top: 24px;
    margin-left: 80px;
}
.contacts{
    width: 480px;
}
.rec_contacts{
    height: 40px;
    width: 407px;
    background: #DA98A2;
    position: absolute;
    margin-left: 142px;
}
.title_contacts h1{
    font-family: 'Briar';
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    position: relative;
}
.p_numbers p, .numbers li, .numbers h2{
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    margin-top: 24px;
}
.numbers{
    display: flex;
    justify-content: space-between;
}
.numbers a, .numbers h2{
    color: #8781BD;
}
.numbers h2{
    margin: 0 80px;
}

/* ------------------------------_ */

.social_email{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.rec_social{
    position: absolute;
    width: 340px;
    height: 40px;
    background: #DA98A2;    
}
.title_social h1{
    font-family: 'Briar';
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #DA98A2;    
    position: relative;
    z-index: 2;
    margin-left: 150px;
}
.p_soc_icon p{
    width: 290px;
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
    margin-left: 80px;
}
.email{
    width: 480px;
}
.soc_icon{
    display: flex;
    width: 218px;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 35px;
}
.p_soc_icon{
    margin-top: 24px;
    display: flex;
}
.icon_facebook, .icon_twitter, .icon_inst{
    height: 40px;
    width: 40px;
    background: #94C3B1;
    border-radius: 20px;
}
.icon_facebook img{
    margin-top: 12px;
    margin-left: 14px;
}
.icon_twitter img{
    margin: 12px 12px;
}
.icon_inst img{
    margin: 8px 8px;
}
.email_title h1{
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.085em;
    color: #fff;
    position: relative;
    z-index: 2;
}
.rec_email{
    height: 40px;
    width: 476px;
    background: #DA98A2;
    position: absolute;
    margin-left: 73px;
}
.emails{
    margin-bottom: 20px;
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    margin-top: 24px;
}
.emails p{
    color:  #fff;
}
.emails a{
    color: #8781BD;
}

/* ____________________________________ */
.about_section_2{
    background: url(../images/about/bgshoes.jpg) no-repeat center top / cover;
    padding-bottom: 65px;
    padding-top: 60px;
    /* height: 705px; */
    /* height: 580px; */
}

.top_text_v h1, .bot_text_v h1{
    font-family: 'Briar';
    font-size: 100px;
    line-height: 96px;
    letter-spacing: 0.085em;
    color: #FFFFFF;
}
.top_text_v h1{
    margin-left: 76px;
    margin-top: 67px;
}
.bot_text_v h1{
    margin-left: 585px;
    margin-top: 436px;
}
.top_text_v, .bot_text_v{
    display: flex;
    
}
.top_text_v img{
    position: absolute;
    margin-left: 1143px;
    margin-top: -150px;
}
.bot_text_v img{
    position: absolute;
    margin-left: -70px;
    margin-top: 443px;
}

/* ___________________________________ */

.about_section_3{
    padding-top: 80px;
    padding-bottom: 100px;

}
.section_3_ab{
    display: flex;
    justify-content: space-between;
}
.right_part_sec3{
    width: 525px;
}
.left_part_sec3{
    width: 690px;
}
.rec_problem, .rec_payment, .rec_feedback{
    height: 40px;
    position: absolute;
    margin-left: -70px;
}
.rec_problem{
    width: 532px;
    background: #94C3B1;
}
.rec_payment{
    width: 353px;
    background: #DA98A2;
}
.rec_feedback{
    width: 175px;
    background: #8781BD;
}
.left_part_sec3 h1, .right_part_sec3 h1{
    font-family: 'Briar';
    font-size: 35px;
    line-height: 33px;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 2;
    padding-top: 5px;
}
.left_part_sec3 p, .circle_list li, .delivery p{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    margin-top: 24px;
}
.problem_email a{
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    color: #8781BD; 
}
.problems p{
    width: 525px;
}
.problems{
    padding-bottom: 47px;
}
.payment{
    width: 612px;
    padding-bottom: 42px;
}
.circle_list li{
    display: list-item;
    margin-left: 35px;
    margin-top: 0;
}
.paycard p{
    margin-top: 0;
}

/* ____________right part_section__3______________ */
.delivery{
    padding-bottom: 50px;
}

/* вл р1 вище */
.rec_delivery, .rec_dimensional_grid{
    height: 40px;
    position: absolute;
}
.rec_delivery{
    width: 501px;
    background: #8781BD;
    margin-left: 95px;
}
.rec_dimensional_grid{
    width: 285px;
    background: #94C3B1;
    margin-left: 310px;
}

.female_male{
    display: flex;
    padding-top: 35px;
}
.female_male h1{
    color: #8781BD;
    font-family: 'Briar';
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.05em;   
}
.female{
    margin-right: 100px;
}
.sm_eur{
    display: flex;
}
.sm_eur h2{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.11em;
    color: #DA98A2;
    margin-bottom: 11px;
    margin-top: 15px;
}
.sm_eur h3{
    font-family: 'Alumni Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;    
}
.eur h2{
    margin-bottom: 30px;
}
.sm{
    margin-right: 20px;
}
.female_male img{
    margin-left: 470px;
    margin-top: 152px;
    position: absolute;
}

/* ________________footer_____________ */
.footer {
    background: #DA98A2;
    padding: 80px 0px 140px 0px;
  }

  .footer__body{
    display: flex;
    justify-content: space-between;
    margin: 0 80px ;
  }
  .left_part_links_footer{
    display: flex;
  }
  .footer__body a, .col_3 p, .col_4 p, .col_5 p {
    font-family: "Alumni Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    letter-spacing: 0.05em;
  }
  .col_1 li, .col_2 li, .col_3 li, .col_4 li, .col_5 li{
    padding-bottom: 27px;
  }
  .col_1, .col_2, .col_3{
    margin-right: 78px;
  }
  .icons_footer{
    display: flex;
  }
  .col_5 li{
    margin-right: 20px;
  }
 