.footer{
    padding: 80px 150px 145px;
    background-color: #DA98A2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-info{
    display: flex;
    flex-direction: row;
    gap: 78px;

}

.footer-col1, .footer-col2, .footer-col3, .footer-col4, .footer-col5{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.footer-txt{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer-tel, .footer-mail{
    text-decoration: none;
    color: white;
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}