.trainers-pics {
    padding: 137px 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.pic-item {
    max-width: 100%;
    width: 420px;
    height: 420px;
}

.sales{
    position: relative;
}

.sale {
    position: relative;
    padding: 211px 150px 230px;
    background-image: url(main-bg/background-2.png);
}

.trainers-on-sale {
    max-width: 100%;
    width: 560px;
    position: absolute;
    top: 15%;
}

.sale-txt-info {
    margin-left: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.sale-h1 {
    font-family: 'Bariar', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.catalog_btn {
    padding: 22px 60px;
    background-color: #94C3B1;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FFFFFF;
    border: 1px solid #94C3B1;
    transition: 0.2s all ease-in;
}

.catalog_btn:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #94C3B1;
}

.trainers-subtitle{
    padding: 95px 265px;
    display: flex;
    flex-direction: row-reverse;
}

.trainers-info{
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #8781BD;
}

.edited{
    color: #DA98A2;
}

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-us_txt{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.about-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

.purple-logo{
    max-width: 100%;
    width: 100px;
}

.about-h2{
    font-family: 'Bariar', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #DA98A2;
}

.about-icons{
    padding: 30px 214px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 80px;
    background-color: #94C3B1;
}

.about-icon_item{
    max-width: 100%;
}

.delivery{
    width: 52px;
}

.original{
    width: 47px;
}

.price{
    width: 42px;
}

.icon-description{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-align: center;
}

.icon-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.about-us{
    position: relative;
}

.about-us_p{
    padding: 0 233px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.13em;
    color: #8781BD;
}

.about-us_nikes{
    max-width: 100%;
}


.read-more_btn{
    padding: 22px 54px;
    background-color: #8781BD;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.11em;
    border: 1px solid #8781BD;
    transition: 0.2s all ease-in;
    text-decoration: none;
    color: #FFFFFF;
}

.read-more_btn:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #8781BD;
}

.line3{
    position: absolute;
    top: -11%;
    right: 0;
}

.line4{
    position: absolute;
    top: 0;
    left: 60%;
}

.trainers1-container, .trainers2-container, .trainers3-container {
    position: relative;
    width: 50%;
}

.trainers1, .trainers2, .trainers3 {
    opacity: 1;
    display: block;
    width: 420px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.trainers1-info, .trainers2-info, .trainers3-info {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.trainers1-container:hover .trainers1,
.trainers2-container:hover .trainers2,
.trainers3-container:hover .trainers3 {
    opacity: 0.3;
}

.trainers1-container:hover .trainers1-info,
.trainers2-container:hover .trainers2-info,
.trainers3-container:hover .trainers3-info{
    opacity: 1;
}

.trainers1-info, .trainers2-info, .trainers3-info {
    color: rgba(255, 255, 255, 0.8);;
}

.trainers1-price, .trainers2-price, .trainers3-price{
    font-family: 'Bariar', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8781BD;
    padding-bottom: 25px;
}

.click-to-view{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #DA98A2;
}


