@font-face {
    font-family: 'Briar';
    src: url("/fonts/bariar/BriarDisplay.otf");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
  }

.container {
    width: 1300px;
    margin: 0 auto;
    /* border: 2px solid #4e0158; */
}

a {
    text-decoration: none;
  }

h1,p {
  padding: 0;
  margin: 0;
}

.container_popup {
    width: 1160px;
    margin: 0 auto;
    /* border: 2px solid #4e0158; */
}
.placing_popup{
    background: #fff;
    padding-bottom: 146px;
    /* width: 1300px; */
}
.top_panel{
     height: 104px;
    background: #94C3B1;
}
.name_close{
    display: flex;
    align-items: center; 
    padding-top: 25px;
}
.name_close h1{
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 41px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}
.btn_close{
    height: 18px;
}
.left_part_content{
    width: 482px;
}
.contents_playcing{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.titels_placing{
    display: flex;
    justify-content: space-between;
}
.titels_placing h1{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #8781BD;
    justify-content: space-between;
}
.delivery_h1 h1{
    color: #DA98A2;
}

.payment_h1 h1{
    color: #94C3B1;
}
.contact_detail h1{
    font-family: 'Briar';
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #8781BD;
    position: relative;
    padding-top: 5px;
    z-index: 2;
}
.rectangle_contact_details{
    position: absolute;
    /* left: 0; */
    margin-left: -70px;
    height: 40px;
    width: 315px;
    background: #8781BD;
    z-index: 1;
}
.contact_detail{
    margin-top: 57px;
}
.inputs{
    margin-top: 91px;
}
.inputs input{
    /* width: 100%; */
    width: 468px;
    height: 30px;
    margin-bottom: 50px;
    border: 1px solid #8781BD;
    padding-top: 10px;
    padding-left: 14px;
    padding-bottom: 10px;
    font-family: 'Alumni Sans';
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000000;
}
.inputs button{
    margin: 0 auto;
    display: block;
    width: 173px;
    height: 50px;
    background: #8781BD;
    text-align: center;
    margin-top: 30px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
}
.right_part_content{
    width: 579px;
    height: 595px;
    border: 1px solid #DA98A2;
}
.order_number{
    margin-top: 41px;
}
.rectangle_order_num{
    width: 297px;
    height: 40px;
    background: #DA98A2;
    float: right;
}
.order_number h1{
    font-family: 'Briar';
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: 120px;
    margin-top: 10px;
    position: absolute;
}
.details_ab_order{
    width: 327px;
    
}
.name_price h1{
    font-family: 'Briar';
    width: 174px;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
}
.name_price{
    display: flex;
    justify-content: space-between;
}
.name_price p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.details_order{
    margin-top: 115px;
    display: flex;
}
.numerosity_order{
    display: flex;
    justify-content: space-between;
    width: 63px;
}
.numerosity_order p{
    
    color: #000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* padding-right: 11px;
    padding-left: 11px; */
    /* padding-top: 3px; */
}
.btn_min, .btn_pl{
    color: #000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}
.size_color_num{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}
.size_color p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.details_order{
    padding: 0 43px;
    justify-content: space-between;
    padding-bottom: 30px;
}
.line_order{
    border: 0.5px solid #DA98A2;
    height: 0;
    width: 492px;
    margin: 0 auto;
}
.all_prices h1{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #8781BD;
}
.all_prices p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.subtotal, .delivery, .taxes{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.all_prices{
    padding: 0 43px 20px 43px;
}
.rectangle_grand_total{
    width: 135px;
    height: 40px;
    background: #DA98A2;
    float: left;
}
.grand_total_price{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 29px;
}
.grand_total h1{
    font-family: 'Briar';
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #DA98A2;
    margin-left: 43px;
    margin-top: 10px;
    position: absolute;
}
.rectangle_price_total{
    height: 40px;
    width: 106px;
    background: #94C3B1;
}
.price_total p{
    position: absolute;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-top: -30px;
    margin-left: 13px;
}
.icons_order{
    display: flex;
    justify-content: space-between;
    padding: 0 43px;
    align-items: center;
}
.icons_order p{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* align-items: center; */
    letter-spacing: 0.13em;
}
.fast_delivery, .original_sneakers, .good_prices{
    text-align: center;
}
.v_2_placing{
    /* position: absolute;
    left: 0; */
    float: left;
    margin-top: 17px;
}
.v_1_placing{

    position: relative;
    margin-top: -68px;
    padding-left: 516px;
    position: absolute;
}



/* ______________________________________ */

.popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(218, 152, 162, 0.25);
    
    z-index: 2;
}

.popup.active{
    display: block;
}


.btn{
    margin: 50px;
    text-align: center;
}

.btn a{
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.11em;
    background-color: #DA98A2;
    padding: 18px 67px;
    text-decoration: none;
    color: #fff;}