
@font-face {
    font-family: 'Briar';
    src: url("/fonts/bariar/BriarDisplay.otf");
}
@import "nav_menu.css";
@import "header.css";
@import "registration.css";
@import "cart.css";
@import "placing.css";
@import "main.css";

body {
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
  }

h1,
h2,
h3,
h4,
h5,
h6,p {
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.header-nav{
    background-color: #DA98A2;
    padding: 0 145px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.nav-left, .nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.nav-right{
    gap: 5px;
}

.header-logo{
    max-width: 100px;
}

.header-logo-link {
    position: relative;
}

.header-logo {
    display: block;
    width: 100%;
    height: auto;
}

.green-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease-in;
}

.header-logo-link:hover .green-logo {
    opacity: 1;
}

.nav-txt{
    padding: 41px 23px 23px;
}

.nav-txt:hover{
    background-color: #94C3B1;
    transition: all 0.2s ease-in;
}

.userIcon, .cartIcon, .language{
    padding: 41px 23px 23px;
}

.header-nav_item{
    color: #ffffff;
    font-family: 'Alumni Sans';
    text-decoration: none;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
}


/* _______________________________________-_____ */

.section_product{
    padding-top: 68px;
    padding-left: 70px;
}    

.product_photo{
    width: 780px;
    height: 645px;
    background: url(../img/product/1.png);
}
.next_ph{
    padding: 30px 0px 0px 30px;
}

.price p{
    color: #ffffff;
    font-family: Alumni Sans;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.crossed_out_price h1{
    color: #ffffff;
    font-family: 'Briar';
    padding-left: 40px;
    z-index: 1;
    letter-spacing: 0.05em;
}
  
.crossed_out_line{
    border: 1px solid #DA98A2;
    width: 211px;
    height: 0;
    margin-top: -20px;
    z-index: 2;
    position: relative;
}
    
.details{
    justify-content: space-between;
    display: flex;
}

.price{
    padding-right: 19px;
    margin-top: 11px;
    
}

.crossed_out_price{
    float: right;    
}

.ellipses{
    display: flex;
    margin-top: 495px;
    margin-left: 350px;
}


.ellipse{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;    
}

.ellipse_{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-left: 40px;
}

.goods{
    display: flex;
    justify-content: space-between;
}
/* .details_good{
    padding-left: 110px;
} */
.details_good h1{
    text-transform: uppercase;
    width: 500px;
    font-family: 'Briar';
    line-height: 40px;
    letter-spacing: 0.05em;
}

.rating_stock{
    padding-top: 33px;
    display: flex;

}

.rating_stock img{
    padding-right: 10px;
}

.rating_stock p{
    margin-left: 106px;
    color: #94C3B1;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.rectangle_pr{
    width: 500px;
    position: absolute;
    height: 60px;
    background: #94C3B1;
}

.new_price{
    margin-top: 35px;
}
.new_price p{
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.085em;
    color: #ffffff;
    position: absolute;
    padding-left: 8px;
}

.new_price img{
    position: absolute;
    right: 0;
    margin-top: -80px;
}

.colors h1{
    text-transform: uppercase;
    margin-top: 126px;
}

.colors_sq{
    display: flex;
    margin-top: 30px;
}
.color_v, .color_p, .color_g{
    width: 65px;
    height: 65px;
    margin-left: 30px;
}

.color_w{
    background: #ffffff;
    border: 0.5px solid #8781BD;
    width: 63px;
    height: 63px;
}

.color_v {
    background: rgba(135, 129, 189, 0.53);
}

.color_p{
    background: rgba(218, 152, 162, 0.43);
}

.color_g{
    background: rgba(199, 249, 181, 0.74);
}

.colors p{
    color: #DA98A2;
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    margin-top: 5px;
}

.size_numerosity{
    display: flex;
    margin-top: 39px;
}

.btn_size{
    width: 100px;
    height: 22px;
    background: #8781BD;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-left: 9px;
    padding-right: 9px;
}

.numerosity{
    display: flex;
    width: 49px;
    height: 24px;
    background: #8781BD;
    margin-left: 36px;
    
    padding-left: 12px;
    padding-right: 12px;
    
}

.numerosity p{
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 3px;
}

.btn_min, .btn_pl{
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.btn_to_cart, .btn_buy{
    display: block;
    width: 218px;
    height: 45px;
    padding-top: 10px;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    background: #94C3B1;
    text-align: center;
    margin-top: 42px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}

.btn_buy{
    background: #DA98A2;
    margin-top: 30px;
}

.about{
    padding-top: 92px;
}

.titles{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #000000; */
}

.titles h1{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.11em;
    color: #000000; 
}

.t1 ,.t2{
    padding-left: 20px;
    padding-right: 20px;
}

.t1{
    margin-left: 88px;
    border-bottom: 4px solid #DA98A2;

}
.t2{
    margin-right: 383px;
    border-bottom: 4px solid #DA98A2;
}

.line_ab{
    border-bottom: 1px solid #000000;
    margin-top: -3px;
}
.tit_line{
    padding: 0 70px;
}

.desp_about{
    display: flex;
    /* margin-top: 80px;
    padding-bottom: 79px; */
    justify-content: space-between;
    padding: 80px 210px 79px 170px;
}
.description{
    width: 464px;
}

.description p, .about_the_model p{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
}

.about_the_model{
    width: 464px;
    margin-left: 132px;
}


/* ___________________- */

.titl{
    padding-left: 0px;
    padding-right: 0px;
    background: #8781BD;
}
.tit-re{
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #8781BD; 
    background: #fff; 
}
.tit-rect{
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #fff;
}
.title_reviews img{
    position: absolute;
    right: 0;
    margin-top: -120px;
}

.reviews_content{
    padding-top: 108px;
    padding-bottom: 68px;
    
}
.reviews{
padding-left: 138px;
}
.review_1, .review_2, .review_3{
    display: flex;
    /* padding-left: 68px; */
    margin-bottom: 70px;
    align-items: center;
    justify-content: space-between;
}

.user_rev_date_1{
    display: flex;
}
.rating_review{
    display: flex;
    /* justify-content: space-between; */
}

.user_1, .user_2, .user_3{
    display: flex;
    margin-right: 35px;
    height: 37px;
    
}

.user_1 img, .user_2 img, .user_3 img{
    margin-right: 8px;
}

.name_rating h1{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    color: #000000;
}


.review_text_1 p, .review_text_2 p, .review_text_3 p{
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #363636;
    width: 620px;
}

.date_1 p, .date_2 p, .date_3 p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    /* margin-left: 360px; */
    padding-right: 105px;
}

.vector_3 img{
    position: absolute;
    left: 0;
    margin-top: -25px;
}

.next_pages{
    display: flex;
    align-items: center;
    margin-top: 158px;
    justify-content: center;
}

.next_pages p{
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Inter';
    font-weight: 400;
    Font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* _____________________________________ */

.footer {
    background: #DA98A2;
    padding: 80px 150px 140px 150px;
  }

  .footer__body{
    display: flex;
    justify-content: space-between;
  }
  .left_part_links_footer{
    display: flex;
  }
  .footer__body a, .col_3 p, .col_4 p, .col_5 p {
    font-family: "Alumni Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    letter-spacing: 0.05em;
  }
  .col_1 li, .col_2 li, .col_3 li, .col_4 li, .col_5 li{
    padding-bottom: 27px;
  }
  .col_1, .col_2, .col_3{
    margin-right: 78px;
  }
  .icons_footer{
    display: flex;
  }
  .col_5 li{
    margin-right: 20px;
  }