
@font-face {
    font-family: 'Briar';
    src: url("/fonts/bariar/BriarDisplay.otf");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 20px;
  }

.container {
    width: 1300px;
    margin: 0 auto;
    /* border: 2px solid #4e0158; */
}

h1,
h2,
h3,
h4,
h5,
h6,p {
  padding: 0;
  margin: 0;
}
.header {
    background: #DA98A2;
}

.nav {
    display: flex;
    padding: 9px 80px 10px 75px;
    justify-content: space-between;
}

.logo {
    margin-right: 44px;
}

.left_part, .menu, .right_part, .lang, .details {
    display: flex;
}

.menu, .right_part{
    padding-top: 32px;
}

a {
    text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu li {
    margin-right: 49px;
    font-family: Alumni Sans;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.rectangle{
    margin-top: -41px;
    background: #94C3B1;
    width: 47px;
    height: 100px;
}
.lang li {
    font-family: Alumni Sans;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.eng{
    position: absolute;
    padding-left: 4px;
}

.line {
    margin-top: 16px;
    width: 24px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);   
}


.icons img{
    margin-left: 50px;
    padding-top: 6px;
    width: 24px;
    height: 24px;
}

header a {
    color: #ffffff;
    text-transform: uppercase;
}

.section_product{
    padding-top: 68px;
}    

.product_photo{
    width: 780px;
    height: 645px;
    background: url(../img/product/1.png);
}
.next_ph{
    padding: 30px 0px 0px 30px;
}

.price p{
    color: #ffffff;
    font-family: Alumni Sans;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.crossed_out_price h1{
    color: #ffffff;
    font-family: 'Briar';
    padding-left: 40px;
    z-index: 1;
    letter-spacing: 0.05em;
}
  
.crossed_out_line{
    border: 1px solid #DA98A2;
    width: 211px;
    height: 0;
    margin-top: -20px;
    z-index: 2;
    position: relative;
}
    
.details{
    justify-content: space-between;
}

.price{
    padding-right: 19px;
    margin-top: 11px;
    
}

.crossed_out_price{
    float: right;    
}

.ellipses{
    display: flex;
    margin-top: 495px;
    margin-left: 350px;
}


.ellipse{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;    
}

.ellipse_{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-left: 40px;
}

.goods{
    display: flex;
}
.details_good{
    padding-left: 110px;
}
.details_good h1{
    text-transform: uppercase;
    width: 390px;
    font-family: 'Briar';
    line-height: 40px;
    letter-spacing: 0.05em;
}

.rating_stock{
    padding-top: 33px;
    display: flex;

}

.rating_stock img{
    padding-right: 10px;
}

.rating_stock p{
    margin-left: 106px;
    color: #94C3B1;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.rectangle_pr{
    width: 479px;
    
    /* width: 100%; */
    position: absolute;
    /* width: calc(100% - 961px); */
    height: 60px;
    background: #94C3B1;
}

.new_price{
    margin-top: 35px;
}
.new_price p{
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.085em;
    color: #ffffff;
    position: absolute;
    padding-left: 8px;
}

.new_price img{
    position: absolute;
    /* right: 0; */
    margin-top: -80px;
    margin-left: 360px;
}

.colors h1{
    text-transform: uppercase;
    margin-top: 126px;
}

.colors_sq{
    display: flex;
    margin-top: 30px;
}
.color_v, .color_p, .color_g{
    width: 65px;
    height: 65px;
    margin-left: 30px;
}

.color_w{
    background: #ffffff;
    border: 0.5px solid #8781BD;
    width: 63px;
    height: 63px;
}

.color_v {
    background: rgba(135, 129, 189, 0.53);
}

.color_p{
    background: rgba(218, 152, 162, 0.43);
}

.color_g{
    background: rgba(199, 249, 181, 0.74);
}

.colors p{
    color: #DA98A2;
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    margin-top: 5px;
}

.size_numerosity{
    display: flex;
    margin-top: 39px;
}

.btn_size{
    width: 100px;
    height: 22px;
    background: #8781BD;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-left: 9px;
    padding-right: 9px;
}

.numerosity{
    display: flex;
    width: 49px;
    height: 24px;
    background: #8781BD;
    margin-left: 36px;
    
    padding-left: 12px;
    padding-right: 12px;
    
}

.numerosity p{
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 3px;
}

.btn_min, .btn_pl{
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.btn_to_cart, .btn_buy{
    display: block;
    width: 218px;
    height: 45px;
    padding-top: 10px;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    background: #94C3B1;
    text-align: center;
    margin-top: 42px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}

.btn_buy{
    background: #DA98A2;
    margin-top: 30px;
}

.about{
    padding-top: 92px;
}
.titles{
    display: flex;
    /* border-bottom: 1px solid #000000; */
}

.titles h1{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.11em;
    color: #000000; 
}

.t1 ,.t2{
    padding-left: 20px;
    padding-right: 20px;
}

.t1{
    margin-left: 88px;
    border-bottom: 4px solid #DA98A2;

}
.t2{
    margin-left: 500px;
    border-bottom: 4px solid #DA98A2;
}

.line_ab{
    border-bottom: 1px solid #000000;
    margin-top: -3px;
}

.desp_about{
    display: flex;
    margin-top: 80px;
    padding-bottom: 79px;
}
.description{
    width: 464px;
    margin-left: 100px;
}

.description p, .about_the_model p{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.085em;
}

.about_the_model{
    width: 464px;
    margin-left: 132px;
}

.rectangle_reviews{
    position: absolute;
    /* width: 100%; */
    width: 1240px;
    margin-left: 130px;
    height: 40px;
    background: #8781BD;
}

.title_reviews h1{
    color: #ffffff;
    font-family: 'Briar';
    font-size: 40px;
    line-height: 38px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    /* margin-top: -2px; */
    margin-left: 68px;
}

.title_reviews img{
    position: absolute;
    /* right: 0; */
    margin-left: 1172px;
    /* margin-left: calc(100%+200px); */
    margin-top: -120px;
}

.reviews_content{
    padding-top: 108px;
    padding-bottom: 68px;
    
}

.review_1, .review_2, .review_3{
    display: flex;
    padding-left: 68px;
    margin-bottom: 70px;
    align-items: center;

}

.rating_review{
    display: flex;
    /* justify-content: space-between; */
}

.user_1, .user_2, .user_3{
    display: flex;
    margin-right: 35px;
    height: 37px;
    
}

.user_1 img, .user_2 img, .user_3 img{
    margin-right: 8px;
}

.name_rating h1{
    font-family: 'Alumni Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.11em;
    color: #000000;
}


.review_text_1 p, .review_text_2 p, .review_text_3 p{
    font-family: 'Alumni Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #363636;
    width: 620px;
}

.date_1 p, .date_2 p, .date_3 p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 360px;
}

.vector_3 img{
    position: absolute;
    left: 0;
    margin-top: -25px;
}

.next_pages{
    display: flex;
    align-items: center;
    margin-top: 158px;
    justify-content: center;
}

.next_pages p{
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Inter';
    font-weight: 400;
    Font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* _____________________________________ */

.footer {
    background: #DA98A2;
    padding: 80px 0px 140px 0px;
  }

  .footer__body{
    display: flex;
    justify-content: space-between;
    margin: 0 80px ;
  }
  .left_part_links_footer{
    display: flex;
  }
  .footer__body a, .col_3 p, .col_4 p, .col_5 p {
    font-family: "Alumni Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    letter-spacing: 0.05em;
  }
  .col_1 li, .col_2 li, .col_3 li, .col_4 li, .col_5 li{
    padding-bottom: 27px;
  }
  .col_1, .col_2, .col_3{
    margin-right: 78px;
  }
  .icons_footer{
    display: flex;
  }
  .col_5 li{
    margin-right: 20px;
  }